<!DOCTYPE html>
<html>
<head>
	<title>Main</title>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>
    	google.charts.load('current', {'packages':['treemap']});
	


    	// setInterval(() => {
    		$('#resultDiv').load(window.location.href + ' #resultDiv');	// rendering data reload
    		google.charts.setOnLoadCallback(drawChart);
    	// }, 1000);

    	function getData() {
    		var host = document.getElementById('hostValue');
    		var cate = document.getElementById('cateValue');

    		host = host.innerText.split(',');
    		cate = cate.innerText.split(',');

    		return  {
    			host,
    			cate
    		};
    	}

    	var setTableRowData = [
            ['App', null, 0, 0],

            ['미분류', 'App', 0, 0],
            ['우회접속', 'App', 0, 0],
            ['P2P', 'App', 0, 0],
            ['원격제어', 'App', 0, 0],
            ['메신저', 'App', 0, 0],

            ['PureVPN', '우회접속', 0, 0],
            ['UltraSurf', '우회접속', 0, 0],
            ['Browsec', '우회접속', 0, 0],
            ['QQdownload', '우회접속', 0, 0],

            ['Fileguri', 'P2P', 0, 0],
            ['Filenara', 'P2P', 0, 0],
            ['Orangefile', 'P2P', 0, 0],

            ['NateOn_Remote', '원격제어', 0, 0],
            ['Radmin', '원격제어', 0, 0],
            ['TeamViewer', '원격제어', 0, 0],
            ['LogMeIn', '원격제어', 0, 0],
            ['Zook', '원격제어', 0, 0],
            ['Remotecall', '원격제어', 0, 0],
    	];

    	function drawChart() {
			var data = new google.visualization.DataTable();

            data.addColumn('string', 'Name');
            data.addColumn('string', 'Category');
            data.addColumn('number', 'size');
            data.addColumn('number', 'color');

            data.addRows(setTableRowData);	// set default category

            // console.log(len);
			
			var render = getData();
    		var host = render.host;
    		var cate = render.cate;
        	var hostLen = host.length;
        	var addDatas = [];

    		var input = ['', '', 1, 5];
    		
            data.addRow(['testData1', '원격제어', 3, 1]);
            data.addRow(['testData2', '우회접속', 1, 1]);
            data.addRow(['testData3', '우회접속', 2, 1]);
            data.addRow(['testData4', '우회접속', 2, 1]);
            data.addRow(['testData5', '우회접속', 2, 1]);

    		tree = new google.visualization.TreeMap(document.getElementById('chart_div'));

            var options = {
                minColor: '#b7be7e',
                midColor: '#f7d374',
                maxColor: '#c25b5d',
                generateTooltip: showStaticTooltip,
                maxDepth: 3,
                headerHeight: 15,
                width: 900,
                height: 500
            };

            function showStaticTooltip(row, size, value) {
                return '<div style="background-color: rgba(255, 255, 255, 0.5); padding:10px; border-style:solid; width: 250px;">' +
                '<span style="font-family:Courier"><b>' + data.getValue(row, 0) + '</b><br>' + '[Category] ' + data.getValue(row, 1) + 
                '<br>[Cell size] ' + data.getValue(row, 2) + '<br>[RISK] ' + data.getValue(row, 3) + '<br>' + data.getColumnLabel(2) + size + '<br>' + ' </div>';
            }

            if (host[0] != '') {	// 전달되는 호스트가 있는 경우



            	tree.draw(data, options);
            } else {
            	// no draw chart
            	console.log('no data');
            	return;
            }

    	}
    </script>
</head>
<body>
	<h1>Main Page</h1>
	<div id="chart_div"></div>
	<!-- <div id="dateValue" style="display: none;"><%= date %></div> -->
	<div id="resultDiv">
		<div id="dateValue"><%= date %></div>
		<div id="hostValue"><%= host %></div>
		<div id="cateValue"><%= cate %></div>
	</div>
</body>
</html>